<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hall/btn_share.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,1},{89,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,66}</string>
			</dict>
			<key>hall/bt_invite.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,66},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,75}</string>
			</dict>
			<key>hall/bt_store.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,415},{333,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{333,93}</string>
			</dict>
			<key>hall/hall_kefu.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,288},{104,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,60}</string>
			</dict>
			<key>hall/hall_notice.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,288},{104,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,60}</string>
			</dict>
			<key>hall/hall_rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,208},{104,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,60}</string>
			</dict>
			<key>hall/hall_set.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,1},{60,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,63}</string>
			</dict>
			<key>hall/hall_zhanji.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,1},{103,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,60}</string>
			</dict>
			<key>hall/item_split.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,350},{3,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{3,54}</string>
			</dict>
			<key>hall/point.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,472},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>hall/point_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,493},{13,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,13}</string>
			</dict>
			<key>hall/point_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,493},{13,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,13}</string>
			</dict>
			<key>hall/hall_roomcardbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,406},{209,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,50}</string>
			</dict>
			<key>hall/hall_addcoin.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,472},{33,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,34}</string>
			</dict>
			<key>hall/hall_certification.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,63},{70,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,68}</string>
			</dict>
			<key>hall/im_trumpet.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,472},{42,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,37}</string>
			</dict>
			<key>hall/bt_group.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,1},{224,411}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,411}</string>
			</dict>
			<key>hall/hall_createroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,1},{290,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,223}</string>
			</dict>
			<key>hall/hall_join.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,226},{289,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{289,178}</string>
			</dict>
			<key>hall/img_weixinchuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,414},{209,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,56}</string>
			</dict>
			<key>hall/hall_mail.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,226},{106,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,60}</string>
			</dict>
			<key>hall/point_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,472},{19,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,19}</string>
			</dict>
			<key>hall/tip_dot2.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,472},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>hall/bt_fwg.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,69},{79,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,65}</string>
			</dict>
			<key>hall/bt_zhaoshang.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,143},{72,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,63}</string>
			</dict>
			<key>hall/hall_bind.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,136},{71,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,70}</string>
			</dict>
			<key>hall/icon_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,133},{63,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,63}</string>
			</dict>
			<key>hall/icon_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,350},{63,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,63}</string>
			</dict>
			<key>hall/bt_league.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{229,412}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,412}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>hall.png</string>
			<key>realTextureFileName</key>
			<string>hall.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>